<h1>Editing Genre</h1>

<div class="mainCont">

<%= render 'form', genre: @genre %>

<%= link_to 'Show', @genre, :class => "button", :role => "button"  %>
<%= link_to 'Back', genres_path, :class => "button", :role => "button"  %>

</div>
