<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bodyback">

<div class="container">
  <div >
    <h1><%=image_tag("Site/game-land-logo.png") %> <br> ABOUT GAME LAND</h1>
    <p style="text-align: justify;"><strong>GAME LAND</strong> is the leading digital distribution platform for PC and Mac games creating easily accessible gaming experiences for gamers worldwide – anytime, anywhere. Offering a “client-free” experience that eliminates the need for a bulky client interface, gamers anywhere can now access their games without any third party involvement.</p>
<p style="text-align: justify;">With the largest catalog of games available for download on the web (currently over 6000), <strong>GAME LAND</strong> offers a strong selection of AAA publishers and a dynamic variety of niche and indie publishers.</p>
<p style="text-align: justify;">To serve the growing community, <strong>GAME LAND</strong> rolled out the industry's most robust loyalty program with the launch of Blue Coins. Blue Coins are earned through various kinds of user activity on the site, but can also be purchased directly with cash. Users can earn Blue Coins by writing reviews, ranking games, and participating in the Game Tutor program.</p>
  </div>
  
   <h1 ><%=image_tag("Site/video-game-wallpapers.jpg", class: "img-responsive")%></h1>
   
   <br>
  
  <div class="row">
    <div class="col-sm-4">
      <h3>Consoles</h3>
      <p>We have a huge range of consoles on offer...</p>
      <p>Feel free to browse through our website and see what fantastic deals we have on offer...</p>
      <a href="#" class="buttonfull">VIEW CONSOLES</a>
    </div>
    <div class="col-sm-4">
      <h3>Activities</h3>
      <p>We have a huge range of activity games on offer...</p>
      <p>Feel free to browse through our website and see what fantastic deals we have on offer...</p>
      <a href="#" class="buttonfull">VIEW ACTIVITIES</a>
    </div>
    <div class="col-sm-4">
      <h3>Genres</h3>        
      <p>We have a huge range of different games on offer...</p>
      <p>Feel free to browse through our website and see what fantastic deals we have on offer...</p>
       <a href="#" class="buttonfull">VIEW GENRES</a>
    </div>
  </div>
</div>
<br>
</body>
</html>
