<!DOCTYPE html>
<html lang="en">
<head>
  <title>GameLand | Help</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bodyback">

<div class="container">
  <div >
    <h1><%=image_tag("Site/game-land-logo.png") %> <br> We're Here To Help!!</h1>
<h2><b><strong>How do I contact Game World?</strong></b></h2>
You can contact Game Online via the following methods:

&nbsp;
<h3><b><strong><em><u>Black Friday Online Support</u></em></strong></b></h3>
Thank you for your support during the Black Friday trading period. We have experienced a large volume of queries which has impacted our online call centre ability to answer all your calls.

Please can we ask that you email your query to websupport@gameworld.com and we will aim to respond on the same business day.

A few tips to assist you:
<ul>
 	<li>Any challenges with payment via Credit Card or Instant EFT please contact our payment partner PayU on 086 111 7298</li>
 	<li>If you have placed a TV order and need to supply your ID copy in order to release the order, please send this to websupport@gameworld.com with your order number in the subject line</li>
 	<li>For any other queries call Game Online Support: 0861 426 333</li>
</ul>
&nbsp;

&nbsp;

<b><strong>General Game Customer Support</strong></b>

<b><strong>Customer Call Centre:</strong></b> 0861 426 322 73

<b><strong>Open: </strong></b>8am-5pm weekdays: Saturdays 9am–4pm : Sundays 9am–1pm

<b><strong>Customer Service Email</strong></b>: service@gameworld.com

&nbsp;

&nbsp;

<b><strong>Game Store Card / RCS Enquiries</strong></b>: 0861 0022 33

<b><strong>Game Store Card / RCS Email</strong></b>: contactus@gameworld.com

<b><strong>Vodacom Contracts Call Centre</strong></b>: 082 111

&nbsp;

&nbsp;
<h2><b><strong>Where do you deliver?</strong></b></h2>
We now deliver to the majority of South African addresses.
We do not currently deliver internationally.
If your suburb is not currently covered by us, please don’t hesitate to contact our Call Centre on 0861 426 322, for further assistance.

&nbsp;
  </div>
  
   <h1 ><%=image_tag("Site/support.png", class: "img-responsive")%></h1>
   
   <br>
  
  <div class="row">
    <div class="col-sm-4">
      <h3>Tech Support</h3>
      <p>We have a huge range of consoles on offer...</p>
      <p>Feel free to browse through our website and see what fantastic deals we have on offer...</p>
    </div>
    <div class="col-sm-4">
      <h3>Customer Care</h3>
      <p>We have a huge range of activity games on offer...</p>
      <p>Feel free to browse through our website and see what fantastic deals we have on offer...</p>
    </div>
    <div class="col-sm-4">
      <h3>Enquiries</h3>        
      <p>We have a huge range of different games on offer...</p>
      <p>Feel free to browse through our website and see what fantastic deals we have on offer...</p>
    </div>
  </div>
</div>
<div class="edit-button">
  <p><a href="/items" class="button">Continue Shopping</a></p>
</div>
</body>
</html>
