<% provide(:title, 'Home') %>
  
<div class="mainCont">
  
<div class="search">
  <%= render 'layouts/search' %>
</div>

  <%= render 'layouts/genres' %>

  <%= render 'layouts/consoles' %>

</div>



