<% provide(:title, 'Home') %>

<div class="mainCont search">
  <%= render 'layouts/search' %>
</div>

<div class="mainCont">
  <%= render 'layouts/genres' %>
</div>

<div class="mainCont">
  <%= render 'layouts/consoles' %>
</div>




