<div class="mainCont">
    
    <br>
    <%= image_tag("Site/game-land-logo.png") %>
    
    <h1>Thank you for shopping!</h1>
    <br>
    
    <p><a href="/items" class="button">You want to buy more</a></p>
    <br>
</div>