<h1>Editing Console</h1>

<div class="mainCont">

<%= render 'form', console: @console %>

<%= link_to 'Details', @console, :class => "button", :role => "button"  %>
<%= link_to 'Back', consoles_path, :class => "button", :role => "button"  %>

</div>
