<div class="mainCont">

<h1>Editing Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Details', @order, :class => "button", :role => "button" %>
<%= link_to 'Back', orders_path, :class => "button", :role => "button" %>

<br>
<br>

</div>