<h1>Editing Item</h1>

<%= render 'form', item: @item %>

<%= link_to 'Details', @item, :class => "button", :role => "button" %>
<%= link_to 'Back', items_path, :class => "button", :role => "button" %>
