/* General */

html,
body {
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    background: url("/assets/Site/gameland.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin-bottom: 10px;
    overflow: auto;
}

.header h1 {
    color: #ffffff;
    background-color: rgba(100, 68, 100, 0.3);
    font-size: 80px;
    padding: 1em;
    text-align: center;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.header ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(100, 68, 100, 0.3);
}

.mainCont {
    margin: auto;
    width: 80%;
    border: solid 3px #b3200f;
    text-align: center;
    padding: 10px;
}

.welcomeIm {
    width: 30%;
}

.foot {
    min-height: 80px;
    background: url("/assets/Site/gameland.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin-bottom: 10px;
    overflow: auto;
}

#itemsContainer {
    width: 100%;
    text-align: center;
}


#itemsContainer h1 {
    display: block;
    color: rgba(100, 68, 100, 0.8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.itemhols {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 22%;
    padding: 10px;
    min-height: 300px;
}


.itemhols h1 {
    display: block;
    color: rgba(100, 68, 100, 0.8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
}


.itemhols p {
    display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
}

.itemholsIm {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button {
    background-color: rgba(100, 68, 100, 0.7);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    min-width: 5em;
}

@media screen and (max-width: 600px) {

    .header h1 {
        font-size: 3em;
        padding: 2em;
    }
}
