 


 <% @consoles.each do |console| %>
 <div class="mainCont">
 <div class = "iconsdiv">
     
     
     <%= image_tag console.image, :class=>"icon" %>
        

        <p><a href="/console/<%= console.title %>" class="button"><%= console.title %></a></p>
        
        </div>
        </div> 
    <% end %>
 
    