 


 <% @consoles.each do |console| %>
     
     <div class="iconsdiv">
     
     <%= image_tag console.image, :class=>"icon" %>
        

        <p class="home-catButton"><a href="/console/<%= console.title %>" class="button"><%= console.title %></a></p>
        
        </div>
    <% end %>
 
    